$fontColor = #616060
$fontColor_h4 = #998D80
$fontColor_intro = #a09e9c
$fontColor-del = #bbb9b9
$fontColor-name = #5f5b57
$activeColor = #e99c2e
$activeColor_2 = #e98223
$activeColor_3 = #e9aa4c
$bgc_1 = #f8f9fd
$border = #ebebeb
$shadow_1 = 2px 2px 10px rgba(0, 0, 0, .3)
$shadow_2 = 3px 2px 10px 0 rgba(79, 5, 1, .84)
$shadow_3 = 1px 1px 10px rgba(0, 0, 0, .1)
$success = #67C23A
$warning = #E6A23C
$danger = #F56C6C
$info = #909399
$blue = #409EFF